#weather
    padding: 150px 0
    .data,input,#btn
        border-radius: 15px
    .data
        text-align: center
        width: 250px
        background-color: #a4caff
        padding: 30px
        h1,h2
            margin-bottom: 25px
            color: #ffff
            font-size: 24px
        input
            width: 150px
            margin-bottom: 30px
            padding: 6px 15px
        .minibox
            display: flex
            justify-content: center
            #btn
                background-color: #79afff
                color: #ffff
                padding: 9px
                width: 120px
    
                
